
<div class="container-show">
  <div class="background-green-show">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 280"><path fill="#2C504A" fill-opacity="1" d="M0,192L60,202.7C120,213,200,215,260,208C480,181,600,107,720,64C840,21,960,11,1080,32C1200,53,1320,107,1380,133.3L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
  </div>
  <div class="navbar-green-show">
     <%= render "shared/navbargreenwhite" %>
  </div>
  <div class="">
      <%= link_to "/", class: "navbar-brand" do %>
        <%= image_tag "avatar/logo-b.png", id: "logo-navbar-green-b" %>

      <% end %>
  </div>


  <div class="container-title">
    <div class="title">
      <h1><strong><%= @wishlists_gift.gift.name %></strong></h1>
      <div class="d-flex mt-3 mb-3">
        <% @tags.each do |tag| %>
        <div class="pillule-category-gift"><%= tag.name %></div>
      <% end %>
      </div>
    </div>
  </div>
  <div class="description-text">
    <div class="titre-image">
    <div class="avis-rating">
          <%= image_tag "grafitis/trait-c.png", class: "haut-droite-trait" %>

      <div class="$text">
        <%@wishlists_gift.gift.rating.to_i.times do %>
        <div class="fa fa-star gold">
        </div>
        <% end %>
      </div>
    </div>
      <div class="$text">
        <div class="wishlist-description">
          <p><%= @wishlists_gift.gift.description %></p>
          <%#= image_tag "grafitis/mouvement.png", class: "mouvement-trait" %>
        </div>
        <div class="wishlist-order">
          <div class="price-gift">
            <h3><strong><%= @wishlists_gift.gift.price %>€</strong></h3>
          </div>
          <div class="bouton">
            <%= link_to "Offrir !", @wishlists_gift.gift.url, class:"button-home", target:"_blank" %>
          </div>
        </div>
      </div>
    </div>
    <div class="image-show">
      <div class="photo-gift" style="background-image: url(<%= @wishlists_gift.gift.photo %>)"></div>
      <p class="vote-show">
        A été voté <%= @wishlists_gift.gift.vote %> fois par les findoos
      </p>
    </div>
  </div>




<div class="testimonial-container" data-controller="swiper">
  <h2 class="heading"> Avis sur <span>cet article</span></h2>
  <div class="testimonial-wrapper">
    <div class="testimonial-box mySwiper">
      <div class="testimonial-content swiper-wrapper">
        <div class="testimonial-slide swiper-slide">
          <h5>Marie Dupont</h5>
          <p class="text">J'adore ce produit. Grâce à Findo, en juste 10 min, j'ai sélectionné le meilleur cadeau pour mon bénéficiaire</p>
        </div>
        <div class="testimonial-slide swiper-slide">
          <h5>George Michael</h5>
          <p class="text">Au départ j'étais sceptique, mais en vrai Findo m'a vraiment aidé ! Avec mes amis, nous avons choisi LE cadeau idéal</p>
        </div>
        <div class="testimonial-slide swiper-slide">
          <h5>Tony Par Coeur</h5>
          <p class="text">Mes potes m'ont conseillé Findo. Franchement, SUPER ! Je joue parfois au basket donc il me fallait un site pour trouver un cadeau dans la catégorie sport. </p>
        </div>
        <div class="testimonial-slide swiper-slide">
          <h5>Michael Jackson</h5>
          <p class="text">Je cherchais un cadeau à offrir pour ma tante. J'ai donc réuni les cousins et nous avons trouvé LE cadeau ! </p>
        </div>
        <div class="testimonial-slide swiper-slide">
          <h5>Elvis Presley</h5>
          <p class="text">On était 10, avec un budget de 5€ par personne. En 10min nous avons choisi le cadeau correpsondant à notre budget</p>
        </div>
      </div>
      <div class="swiper-button-next" data-action="click->swiper#swipe"></div>
      <div class="swiper-button-prev" data-action="click->swiper#swipe"></div>
    </div>
  </div>








</div>


  </div>


  </div>

  <p class="retour-wishlist"><%= link_to "Retour à la wishlist",  wishlist_path(@wishlists_gift.wishlist), class:"button-home"%></p>


</div>





    <%# <div class="avis-findoos">
      <h3>Avis des findoos</h3>
      <div class="bloc-findos">
        <h5>George Michael</h5>
        <p class="text">Avis des Findoos is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
        </div>
      </div> %>
