
<div class="container-show">
  <div class="background-green-show">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#2C504A" fill-opacity="1" d="M0,192L60,202.7C120,213,240,235,360,208C480,181,600,107,720,64C840,21,960,11,1080,32C1200,53,1320,107,1380,133.3L1440,160L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>
  </div>
  <div class="navbar-green-show">
     <%= render "shared/navbargreenwhite" %>
  </div>
  <div class="Findo-logo-show-white">
      <%= link_to "/", class: "navbar-brand" do %>
        <h1 class="titre blanc">Findo</h1>
      <% end %>
  </div>


  <div class="container-title">
    <div class="title">
      <h1><strong><%= @wishlists_gift.gift.name %></strong></h1>
      <div class="d-flex mt-3 mb-3">
        <% @tags.each do |tag| %>
        <div class="pillule-category-gift"><%= tag.name %></div>
      <% end %>
      </div>
    </div>
  </div>
  <div class="description-text">
    <div class="titre-image">
    <div class="avis-rating">
      <div class="$text">
        <%@wishlists_gift.gift.rating.to_i.times do %>
        <div class="fa fa-star gold">
        </div>
        <% end %>
      </div>
    </div>
      <div class="$text">
        <p class="wishlist-description">
          <%= @wishlists_gift.gift.description %>
        </p>
        <div class="wishlist-order">
          <div class="price-gift">
            <h3><%= @wishlists_gift.gift.price %>€</h3>
          </div>
          <div class="bouton">
            <%= link_to "Offrir !", new_wishlist_path, class:"button-home" %>
          </div>
        </div>
      </div>
    </div>
    <div class="image-show">
      <div class="photo-gift" style="background-image: url(<%= @wishlists_gift.gift.photo %>)"></div>
      <p class="vote-show">
        A été voté <%= @wishlists_gift.gift.vote %> fois depuis sa création
      </p>
    </div>
  </div>

  <div class="avis-findos">
    <p class="text">Avis sur cet article is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
    <p class="text">Avis des Findoos is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
  </div>


  <p class="retour-wishlist"><%= link_to "retour a la wishlist",  wishlist_path(@wishlists_gift.wishlist)%></p>


</div>
