  <%= render "shared/navbar" %>




<div class="dash-king">

  <!-- dashboard -->
  <div data-controller="dashboard" class="dashboard">
    <!-- 3 logo a gauche -->
    <div class="dashboard-nav ">
      <div class="dashboard-logo-vide">



      </div>

      <div class="dashboard-logo fixed-bottom">

        <div class="dash-img-1" data-action="click->dashboard#update1">
          <%= image_tag "icones/poussin.png", class:"dash-avatar-rond"%>
        </div>
        <p>mon profil</p>


        <div class="dash-img-2" data-action="click->dashboard#update2">
          <%= image_tag "icones/feux-dartifice.png", class:"dash-avatar-rond dash-push"%>
        </div>
        <p>mes wishlists</p>


        <%= image_tag "grafitis/click.svg", class:"dash-avatar-click"%>
        <%= image_tag "grafitis/pointer.svg", class:"dash-avatar-pointer"%>



      </div>
    </div>

    <div class="dashboard-page">
      <div class="dash-backgvert fixed-bottom">
        <%= image_tag "image-bottom-vert.png", class:"stickybggreenbra " %>
      </div>


      <!-- premiere page(mon profil) -->
      <div class="dashboard-mon-profil d-none" data-dashboard-target="premierepage">
        <!-- IMG -->
        <%= image_tag "fonddashprofil.png", class:"fonddashprofil"%>
      <!--supp classs none et mettre <div class="dashboard-mon-profil"> -->
        <div class="dashboard-title">
          <h2>Mon profil</h2>
        </div>

        <div class="dash-big-image-profil">
          <%#= image_tag "https://images.unsplash.com/photo-1574466853640-8557d3e4ab2c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80", class: "avatar-dash", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, crop: :fill, class: "avatar-dash" %>
            <% else %>
            <%= image_tag "avatar/avatar_vide", class: "avatar-dash" %>
            <% end %>

        </div>


        <div class="dashboard-quatre1">

          <div class="dashboard-deux">

            <p class="greypil"><%= current_user.prenom %></p>

            <p class="greypil"><%= current_user.nom %></p>

          </div>

          <div class="dashboard-deux">

            <p class="greypil"><%= current_user.email %></p>

            <div class="greypil-count-profil">
              <p class="nombre-de-wishlist">Nombre de Wishlist: <%= @my_wishlists.count %><%= image_tag "grafitis/wishlist.svg", class:"dash-dash" %> </p>
              <p class="nombre-de-vote"><%= image_tag "grafitis/coeur.svg", class:"dash-coeur" %>Nombre de Votes: <%= @current_user_votes.count %></p>
            </div>

          </div>

        </div>
          <!-- <%= image_tag "avatar/Dorian.jpeg", class:"avatar-rond"%> -->


      </div>


      <!-- deuxieme page(mes wishlist) -->
      <div class="dashboard-mes-wishlists" data-dashboard-target="deuxiemepage">
        <!-- <div class="dashboarddnone"> -->
      <!--supp classs none et mettre <div class="dashboard-mes-wishlists"> -->

        <%= image_tag "etoiles/star-2.png", class:"dash-star-1"%>
        <%= image_tag "etoiles/star-7.png", class:"dash-star-2"%>
        <%= image_tag "etoiles/star-4.png", class:"dash-star-3"%>
        <%= image_tag "etoiles/star-4.png", class:"dash-star-4"%>
        <%= image_tag "etoiles/star-1.png", class:"dash-star-5"%>

        <%= image_tag "etoiles/star-7.png", class:"dash-star-6"%>
        <%= image_tag "etoiles/star-7.png", class:"dash-star-7"%>
        <%= image_tag "etoiles/star-4.png", class:"dash-star-8"%>
        <%= image_tag "etoiles/star-8.png", class:"dash-star-9"%>
        <%= image_tag "etoiles/star-9.png", class:"dash-star-10"%>



        <div class="dashboard-title-w">
          <h2>Mes wishlists</h2>


        </div>
        <%= image_tag "grafitis/trait-g", class:"trait-mes-wish" %>

        <div class="dashboard-all-wishlist-and-all-team">


          <% @my_wishlists.each do |wishlist| %>
              <div class="dashboard-one-wishlist-and-one-team">

                <%= image_tag "grafitis/top", class: "imgcup" %>
                <%= image_tag "grafitis/undraw_flower", class: "imgflower" %>




                <div class="dash-cadeau">
                  <% top_gift = wishlist.wishlists_gifts.top_votes_for_wishlist_gift(wishlist.id) %>
                  <% if top_gift.present? %>
                    <p>Le cadeau le plus voté</p>

                    <%= image_tag(top_gift.gift.photo) %>
                    <p><%= top_gift.gift.name %></p>
                  <% else %>
                    <p>Aucun cadeau n'a encore été voté pour cette wishlist</p>
                  <% end %>
                </div>

                <div class="dashboard-all-wishlist">
                  <%= link_to wishlist.name , wishlist_path(wishlist), class: "dashboard-1-wishlist greypil"%>
                </div>

                <div class="dash-team">
                  <% User.joins(:votes).where(votes: { wishlists_gift_id: wishlist.wishlists_gifts.pluck(:id) }).uniq.each do |user| %>


                        <%= image_tag user.photo, class: "avatar-dash-team" %>

                  <% end %>
                </div>



              </div>





          <% end %>
        </div>
      </div>


      <!-- troisieme page(mes wishlists) -->
      <div class="dashboard-mon-top-cadeau d-none"  data-dashboard-target="troisiemepage">

        <div class="dashboard-title-top">
          <h2>Top cadeau</h2>
        </div>

        <div class="top-bas">
          <div class="top-gauche">
            <div class="top-img">
              <%= image_tag "icones/poussin.png"%>
            </div>
          </div>

          <div class="top-droite">

            <div class="top-votes">
              <h3>Votess</h3>
            </div>


            <div class="top-p">
              <p>le paragraphe blablabla blabla blablabal blablabl blablablablable paragraphe blablabla blabla blablabal blablabl blablablablable paragraphe blablabla blabla blablabal blablabl blablablablable paragraphe blablabla blabla blablabal blablabl blablablablabl</p>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>
