<div class="dash-king">
  <!-- dashboard -->
  <div data-controller="dashboard" class="dashboard">
    <!-- 3 logo a gauche -->
    <div class="dashboard-logo">

      <div class="dash-img-1" data-action="click->dashboard#update1">
        <%= image_tag "icones/poussin.png", class:"avatar-rond"%>
      </div>

      <div class="dash-img-2" data-action="click->dashboard#update2">
        <%= image_tag "icones/feux-dartifice.png", class:"avatar-rond"%>
      </div>

      <div class="dash-img-3" data-action="click->dashboard#update3">
        <%= image_tag "icones/message.png", class:"avatar-rond"%>
      </div>

    </div>

    <div class="dashboard-page">

      <!-- premiere page(mon profil) -->
      <div class="dashboard-mon-profil" data-dashboard-target="premierepage">
      <!--supp classs none et mettre <div class="dashboard-mon-profil"> -->
        <div class="dashboard-title">
          <h2>Mon profil</h2>
        </div>

        <div class="dashboard-quatre1">

          <div class="dashboard-1">
            <p><%= current_user.username %></p>
          </div>

        </div>

        <div class="dashboard-quatre2">

          <div class="dashboard-2">
            <p><%= current_user.email %></p>
          </div>

        </div>

        <div class="dashboard-quatre3">

          <div class="dashboard-3">
            <p><%= current_user.username %></p>
          </div>

        </div>

        <div class="dashboard-quatre4">

          <div class="dashboard-4">
            <p><%= current_user.username %></p>
          </div>
        </div>

          <!-- <%= image_tag "avatar/Dorian.jpeg", class:"avatar-rond"%> -->


      </div>


      <!-- deuxieme page(mes wishlist) -->
      <div class="dashboard-mes-wishlists d-none" data-dashboard-target="deuxiemepage">
        <!-- <div class="dashboarddnone"> -->
      <!--supp classs none et mettre <div class="dashboard-mes-wishlists"> -->


        <div class="dashboard-title-wishlist">
          <h2>Mes wishlists</h2>
        </div>

        <div class="dashboard-all-wishlist">
            <p class="dashboard-1-wishlist"><%= current_user.email %></p>

            <p class="dashboard-2-wishlist"><%= current_user.email %></p>

            <p class="dashboard-3-wishlist"><%= current_user.email %></p>


        </div>


          <!-- <%= image_tag "avatar/Dorian.jpeg", class:"avatar-rond"%> -->


      </div>


      <!-- troisieme page(mes wishlists) -->
      <div class="dashboard-mon-top-cadeau d-none"  data-dashboard-target="troisiemepage">

        <div class="dashboard-title-top">
          <h2>Top cadeau</h2>
        </div>

        <div class="top-bas">
          <div class="top-gauche">
            <div class="top-img">
              <%= image_tag "icones/poussin.png"%>
            </div>
          </div>

          <div class="top-droite">

            <div class="top-votes">
              <h3>Votess</h3>
            </div>


            <div class="top-p">
              <p>le paragraphe blablabla blabla blablabal blablabl blablablablable paragraphe blablabla blabla blablabal blablabl blablablablable paragraphe blablabla blabla blablabal blablabl blablablablable paragraphe blablabla blabla blablabal blablabl blablablablabl</p>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>
