<div class="dash-king">
  <!-- dashboard -->
  <div class="dashboard">
    <!-- 3 logo a gauche -->
    <div class="dashboard-logo">
      <%= image_tag "icones/poussin.png", class:"avatar-rond"%>
      <%= image_tag "icones/feux-dartifice.png", class:"avatar-rond"%>
      <%= image_tag "icones/message.png", class:"avatar-rond"%>

    </div>

    <div class="dashboard-page">

      <!-- premiere page(mon profil) -->
      <div class="dashboarddnone">
      <!--supp classs none et mettre <div class="dashboard-mon-profil"> -->
        <div class="dashboard-title">
          <h2>Mon profil</h2>
        </div>

        <div class="dashboard-quatre1">

          <div class="dashboard-1">
            <p><%= current_user.username %></p>
          </div>

        </div>

        <div class="dashboard-quatre2">

          <div class="dashboard-2">
            <p><%= current_user.email %></p>
          </div>

        </div>

        <div class="dashboard-quatre3">

          <div class="dashboard-3">
            <p><%= current_user.username %></p>
          </div>

        </div>

        <div class="dashboard-quatre4">

          <div class="dashboard-4">
            <p><%= current_user.username %></p>
          </div>
        </div>

          <!-- <%= image_tag "avatar/Dorian.jpeg", class:"avatar-rond"%> -->


      </div>


      <!-- deuxieme page(mes wishlist) -->
      <div class="dashboarddnone">
        <!-- <div class="dashboarddnone"> -->
      <!--supp classs none et mettre <div class="dashboard-mes-wishlists"> -->


        <div class="dashboard-title-wishlist">
          <h2>Mes wishlists</h2>
        </div>

        <div class="dashboard-all-wishlist">
            <p class="dashboard-1-wishlist"><%= current_user.email %></p>

            <p class="dashboard-2-wishlist"><%= current_user.email %></p>

            <p class="dashboard-3-wishlist"><%= current_user.email %></p>


        </div>


          <!-- <%= image_tag "avatar/Dorian.jpeg", class:"avatar-rond"%> -->


      </div>


      <!-- troisieme page(mes wishlists) -->
      <div class="dashboard-mon-top-cadeau">

        <div class="dashboard-title-wishlist">
          <h2>Top cadeau</h2>
        </div>

      </div>
    </div>

  </div>
</div>
