<div class="dash-king">
  <!-- dashboard -->
  <div data-controller="dashboard" class="dashboard">
    <!-- 3 logo a gauche -->
    <div class="dashboard-nav">
      <div class="dashboard-logo-vide">



      </div>

      <div class="dashboard-logo">

        <div class="dash-img-1" data-action="click->dashboard#update1">
          <%= image_tag "icones/poussin.png", class:"avatar-rond"%>
        </div>

        <div class="dash-img-2" data-action="click->dashboard#update2">
          <%= image_tag "icones/feux-dartifice.png", class:"avatar-rond"%>
        </div>

        <div class="dash-img-3" data-action="click->dashboard#update3">
          <%= image_tag "icones/message.png", class:"avatar-rond"%>
        </div>

      </div>
    </div>

    <div class="dashboard-page">

      <!-- premiere page(mon profil) -->
      <div class="dashboard-mon-profil" data-dashboard-target="premierepage">
      <!--supp classs none et mettre <div class="dashboard-mon-profil"> -->
        <div class="dashboard-title">
          <h2>Mon profil</h2>
        </div>

        <div class="dashboard-quatre1">
          <div class="dashboard-deux">

            <p class="greypil"><%= current_user.prenom %></p>

            <p class="greypil"><%= current_user.nom %></p>

          </div>

          <div class="dashboard-deux">

            <p class="greypil"><%= current_user.email %></p>


            <%= image_tag "https://images.unsplash.com/photo-1574466853640-8557d3e4ab2c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80", class: "avatar-dash", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

          </div>


        </div>





          <!-- <%= image_tag "avatar/Dorian.jpeg", class:"avatar-rond"%> -->


      </div>


      <!-- deuxieme page(mes wishlist) -->
      <div class="dashboard-mes-wishlists d-none" data-dashboard-target="deuxiemepage">
        <!-- <div class="dashboarddnone"> -->
      <!--supp classs none et mettre <div class="dashboard-mes-wishlists"> -->


        <div class="dashboard-title-wishlist">
          <h2>Mes wishlists</h2>
        </div>

        <div class="dashboard-all-wishlist-and-all-team">


            <% @my_wishlists.each do |wishlist| %>

                <div class="dashboard-all-wishlist dash-row">
                  <%= link_to wishlist.name , wishlist_path(wishlist), class: "dashboard-1-wishlist greypil"%>
                </div>

                <div class="dash-row dash-team ">
                  <% @users_who_voted.each do |user| %>
                    <p class="avatar-dash-team"><%= user.prenom %></p>
                  <% end %>
                </div>

                <div class="dash-cadeau">
                  <% top_gift = wishlist.wishlists_gifts.top_votes_for_wishlist_gift(wishlist.id) %>
                  <% if top_gift.present? %>
                    <p>Le cadeau le plus voté est : <%= top_gift.gift.name %></p>
                  <% else %>
                    <p>Aucun cadeau n'a encore été voté pour cette wishlist</p>
                  <% end %>
                </div>

            <% end %>
        </div>












        </div>






          <!-- <%= image_tag "avatar/Dorian.jpeg", class:"avatar-rond"%> -->


      </div>


      <!-- troisieme page(mes wishlists) -->
      <div class="dashboard-mon-top-cadeau d-none"  data-dashboard-target="troisiemepage">

        <div class="dashboard-title-top">
          <h2>Top cadeau</h2>
        </div>

        <div class="top-bas">
          <div class="top-gauche">
            <div class="top-img">
              <%= image_tag "icones/poussin.png"%>
            </div>
          </div>

          <div class="top-droite">

            <div class="top-votes">
              <h3>Votess</h3>
            </div>


            <div class="top-p">
              <p>le paragraphe blablabla blabla blablabal blablabl blablablablable paragraphe blablabla blabla blablabal blablabl blablablablable paragraphe blablabla blabla blablabal blablabl blablablablable paragraphe blablabla blabla blablabal blablabl blablablablabl</p>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>
