 <%= render "shared/navbar" %>

<%# </--------- partie 1 des questions EVENT ---------------> %>
<div data-controller= "tag-selection">

  <%# formulaire  %>
  <%= form_tag wishlists_path do %>
  <div class="container">
    <div data-tag-selection-target="first" class="div-question">
      <div class="card-grid">
        <% @first_tag.each do |tag| %>
          <div data-action= "click->tag-selection#firstcheck"><%= check_box_tag tag.name, true, false, class: 'd-done'%>
            <div class="card-tag"><%= tag.name %>
              <% if @first_tag.index(tag) == 1 %>
                <%= image_tag "grafitis/trait-y", class: "top-left-icon" %>
              <% end %>
              <% if @first_tag.index(tag) == 2 %>
                <%= image_tag "grafitis/trait-c", class: "top-right-icon" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="questions">
        <p>Pour quelle occasion cherchez-vous un cadeau ? </p>
      </div>
      <%= image_tag "grafitis/bas", id:"home-bottom-image-category"%>
    </div>
  </div>

<%# </--------- partie 2 des questions AGE---------------> %>
  <div class="container">
    <div data-tag-selection-target="second" class="d-none">
      <div class="div-question">
        <div class="questions">
          <p>Qui sera l'heureux élu ? </p>
          <%= image_tag "grafitis/fleche", class: "left-fleche" %>
        </div>
        <div class="card-grid-2">
          <% @second_tag.each do |tag| %>
            <div data-action= "click->tag-selection#secondcheck" class="card-tag-2"><%= tag.name %>
                <%= check_box_tag tag.name, true, false, class: 'd-none'%>
              <% if @second_tag.index(tag) == 2 %>
                <%= image_tag "grafitis/trait", class: "bottom-right-icon" %>
              <% end %>
            </div>
          <% end %>
        </div>
        <%= image_tag "grafitis/bas-rev", id:"home-bottom-image-category-rev"%>
      </div>
    </div>
  </div>
<%# </--------- partie 3 des questions TAGS---------------> %>
<div class="container">
  <div data-tag-selection-target="third" class="d-none">
    <div class="div-question-9">
      <div class="card-grid-9">
        <% @third_tag.each do |tag| %>
          <div data-action= "click->tag-selection#thirdcheck", class="card-tag-9">
            <%= check_box_tag tag.name, true, false, class: 'd-none'%>
            <%= image_tag tag.image_path, class: "new--icones"%><%= tag.name %>
            <% if @third_tag.index(tag) == 2 %>
                <%= image_tag "grafitis/trait-e", class: "graf-chien" %>
                <%= image_tag "grafitis/trait-c", class: "graf-tour" %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="questions-9">
        <p>Quels sont ses centres d'interêts ? </p>
        <%= image_tag "grafitis/trait-f", class: "right-trait" %>
      </div>
    </div>
    <div class="btn-suivant">
    <p data-action= "click->tag-selection#thirdbuttoncheck" data-tag-selection-target="thirdbutton"  class="d-none">ok !</p>
      </div>
      <%= image_tag "grafitis/bas", id:"home-bottom-image-category"%>
  </div>
</div>
<%# </--------- partie 4 des questions BUDGET---------------> %>

<div class="container">
  <div data-tag-selection-target="fourth" class="d-none">
    <div class="div-question-6">
      <div class="questions-6">
        <p>Quel est votre budget ? </p>
          <%= image_tag "grafitis/trait", class: "budget" %>
      </div>
      <div class="card-grid-6">
        <% @fourth_tag.each do |tag| %>
          <div data-action= "click->tag-selection#fourthcheck" class="card-tag-9"><%= check_box_tag tag.name, true, false, class: 'bestdnone'%>
            <%= tag.name %>
              <% if @fourth_tag.index(tag) == 2 %>
                <%= image_tag "grafitis/trait-c", class: "budget-trait" %>
              <% end %>
          </div>
        <% end %>
      </div>
      <%= image_tag "grafitis/bas-rev", id:"home-bottom-image-category-rev"%>
    </div>
  </div>
</div>

<%# </--------- partie 5 des questions NOM---------------> %>
<div class="container">
    <div data-tag-selection-target="five" class="d-none wishlist-en-cours">
      <%= label_tag :wishlist_name, "Nouvelle wishlist en cours ..."%>
        <div class="ecrire">
          <%= text_field_tag :wishlist_name%>
        </div>
          <%= submit_tag "Créer !", class: "btn-creation"%>
          <%= image_tag "etoiles/full-star", id:"full-star"%>
    </div>
  <% end %>
</div>

<%# </--------- range des prix ---------------> %>

  <div class="range_container d-none" data-action="mousemove->tag-selection#changerange">
    <div class="sliders_control">
        <input id="fromSlider" type="range" value="20" min="0" max="300"/>
        <input id="toSlider" type="range" value="60" min="0" max="300"/>
    </div>
    <div class="form_control">
        <div class="form_control_container">
            <!-- on met le notre nouveau resultat min basé sur rangeinput min qui est plus bas  -->
            <p data-tag-selection-target="rangeresultmin"></p>
            <div class="form_control_container__time">Min</div>
            <!-- rangeinput min moche de base  -->
            <input class="form_control_container__time__input d-none" type="number" id="fromInput" value="20" min="0" max="300" data-tag-selection-target="rangeinputmin"/>
        </div>
        <div class="form_control_container">
            <p data-tag-selection-target="rangeresultmax"></p>
            <div class="form_control_container__time">Max</div>
            <input class="form_control_container__time__input d-none" type="number" id="toInput" value="60" min="0" max="300" data-tag-selection-target="rangeinputmax"/>
        </div>
    </div>
  </div>


</div>
