<h1>METTRE LA NAVBAR</h1>

<%# </--------- partie 1 des questions ---------------> %>
<div data-controller= "tag-selection">

  <%# formulaire  %>
  <%= form_tag wishlists_path do %>
    <div class="container">
      <div data-tag-selection-target="first" class="div-question">
        <div class="card-grid">
          <% @first_tag.each do |tag| %>
            <div data-action= "click->tag-selection#firstcheck"><%= check_box_tag tag.name, true, false, class: 'd-done'%>
              <div class="card-tag"><%= tag.name %>
                <% if @first_tag.index(tag) == 1 %>
                  <%= image_tag "grafitis/trait-y", class: "top-left-icon" %>
                <% end %>
                <% if @first_tag.index(tag) == 2 %>
                  <%= image_tag "grafitis/trait-c", class: "top-right-icon" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="questions">
          <p>Pour quelle occasion cherchez-vous un cadeau ? </p>
        </div>
      </div>
    </div>
      <%= image_tag "image-bottom-vert", id:"home-bottom-image"%>

<%# </--------- partie 2 des questions ---------------> %>
  <div class="container">
    <div data-action= "click->tag-selection#secondcheck" data-tag-selection-target="second" class="d-none"><%= check_box_tag tag.name, true, false, class: 'd-done'%>
      <div class="div-question">
        <div class="card-grid">
          <% @second_tag.each do |tag| %>
            <div class="card-tag"><%= tag.name %>
              <% if @second_tag.index(tag) == 1 %>
                <%= image_tag "grafitis/trait-y", class: "top-left-icon" %>
              <% end %>
              <% if @second_tag.index(tag) == 2 %>
                <%= image_tag "grafitis/trait-c", class: "top-right-icon" %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="questions">
          <p>Qui sera l'heureux élu ? </p>
        </div>
      </div>
    </div>
  </div>
<%# </--------- partie 3 des questions ---------------> %>

    <div class="card-grid-9">
      <% @third_tag.each do |tag| %>
        <div data-action= "click->tag-selection#thirdcheck" data-tag-selection-target="third" class="d-none"><%= check_box_tag tag.name, true, false, class: 'd-done'%>
          <div class="card-tag-9"><%= image_tag tag.image_path, class: "new--icones"%><%= tag.name %></div>
        </div>
      <% end %>
        <p data-action= "click->tag-selection#thirdbuttoncheck" data-tag-selection-target="thirdbutton"  class="d-none">Suivant</p>
    </div>

<%# </--------- partie 4 des questions ---------------> %>

    <% @fourth_tag.each do |tag| %>
      <div data-action= "click->tag-selection#fourthcheck" data-tag-selection-target="fourth" class="d-none"><%= check_box_tag tag.name, true, false, class: 'bestdnone'%>
        <%= tag.name %>
      </div>
    <% end %>

<%# </--------- partie 5 des questions ---------------> %>

    <div data-tag-selection-target="five" class="d-none">
      <%= label_tag :wishlist_name, "Nom de la wishlist"%>
        <%= text_field_tag :wishlist_name %>
          <%= submit_tag "Nouvelle Wishlist" %>
    </div>

  <% end %>

<%# </--------- range des prix ---------------> %>

  <div class="range_container" data-action="mousemove->tag-selection#changerange">
    <div class="sliders_control">
        <input id="fromSlider" type="range" value="20" min="0" max="300"/>
        <input id="toSlider" type="range" value="60" min="0" max="300"/>
    </div>
    <div class="form_control">
        <div class="form_control_container">
            <!-- on met le notre nouveau resultat min basé sur rangeinput min qui est plus bas  -->
            <p data-tag-selection-target="rangeresultmin"></p>
            <div class="form_control_container__time">Min</div>
            <!-- rangeinput min moche de base  -->
            <input class="form_control_container__time__input d-none" type="number" id="fromInput" value="20" min="0" max="300" data-tag-selection-target="rangeinputmin"/>
        </div>
        <div class="form_control_container">
            <p data-tag-selection-target="rangeresultmax"></p>
            <div class="form_control_container__time">Max</div>
            <input class="form_control_container__time__input d-none" type="number" id="toInput" value="60" min="0" max="300" data-tag-selection-target="rangeinputmax"/>
        </div>
    </div>
</div>


</div>
