<h1>new wishlist</h1>
<h2>cree une wishlist</h2>


<%= form_tag wishlists_path do %>
  <% @first_tag.each do |tag| %>
    <%= check_box_tag tag.name %>
  <% end %>
  <% @second_tag.each do |tag| %>
    <%= check_box_tag tag.name %>
  <% end %>
  <% @third_tag.each do |tag| %>
    <%= check_box_tag tag.name %>
  <% end %>
  <%= submit_tag "Nouvelle Wishlist" %>
<% end %>
