
 <!--------------------------NAVBAR---------------------------------->

 <div class="home-body">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
      <%= link_to "/", class: "navbar-brand" do %>
        <h1 class="titre">Findo</h1>
      <% end %>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <li class="nav-item active-blanc">
              <%= link_to "Mes wishlists", wishlists_path, class: "nav-link-wishlist-blanc" %>
            </li>
            <li class="nav-item-mesvotes-blanc">
              <%= link_to "Mes votes", "#", class: "nav-link-votes-blanc" %>
            </li>
            <li class="nav-item dropdown">
              <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
              <%= image_tag "avatar_vide" %>
              <% end %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Action", "#", class: "dropdown-item" %>
                <%= link_to "Another action", "#", class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "S'inscrire", new_user_session_path, class: "nav-link-btn" %>
            </li>
            <li class="nav-item">
              <%= link_to "Se connecter", new_user_session_path, class: "nav-link-blanc" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>


 <!--------------------------END NAVBAR---------------------------------->



 <!--------------------------TOP---------------------------------->

<!---Title & tag wishlist---->

  <div class="wishlist-name-description">

    <div class="Text-wishlist-name">
      <h1 class="titre">
          <%= @wishlist.name %>
      </h1>

      <p class="text">
          Vote pour le cadeau qui correspond le mieux à la personne !
      </p>
    </div>




      </div>


    <div class="card pillule">
      <% @wishlist.wishlists_tags.each do |tag| %>
        <p class="pillule-category-show"><%= tag.tag.name %></p>
      <% end %>
    </div>


    <div>
      <% @gifts.each do |gift|%>
        <p><%= gift.name %></p>
      <% end %>
    </div>

  </div>



 <!---END Title @ tag wishlist---->


 <!--------------------------BOTTOM---------------------------------->


  <div class="avatar-cards">


 <!--- Avatard gauche ---->
    <div class="avatar-section">
        <%= image_tag "avatar/Eva.jpeg", class:"avatar-rond"%>
        <%= image_tag "avatar/Jernito.jpeg", class:"avatar-rond"%>
        <%= image_tag "avatar/Dorian.jpeg", class:"avatar-rond"%>
        <%= image_tag "avatar/Mathieu.jpeg", class:"avatar-rond"%>

    </div>


 <!--- END Avatard gauche ---->



 <!--- Cards droite---->
    <div class="cards">
        <% @wishlist.wishlists_gifts.each do |wishlists_gift| %>
          <div class="animated-card">
            <div class="front-card d-flex justify-content-end" style="background-image: url(<%= wishlists_gift.gift.photo %>)">
              <div class="p-4">
                <p>12</p>
              </div>
              <%#= cl_image_tag wishlists_gift.gift.photo, height: 150, width: 200 , crop: :fill,class:"" %>
            </div>

            <div class="back-card">
              <div class="back-card-info">
                <%= image_tag "icones/oeil.png", class:"oeil" %>
                <%# <h2>mettre l'oeil</h2> %>
                <div class="data">
                  <h3><%= wishlists_gift.gift.name %></h3>
                  <h3><%= wishlists_gift.gift.price %>€</h3>
                </div>
                <div class="terminus">
                   <%= link_to "voir" , wishlists_gift_path(wishlists_gift), class: "button-home" %>
                </div>
              </div>

            </div>
          </div>
        <% end %>
    </div>

<!--- END Cards droite---->




  </div>


</div>
